:root {
  --header-color: #003c72;
}

span,
h3 {
  line-height: 1.2em;
}

#resume-container {
  box-shadow: var(--shadow);
  width: 210mm;
  height: 297mm;
}

#resume {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  color: #363c48;
  padding: 10px 30px;
  font-size: 0.8em;
}

.section {
  margin-bottom: 50px;
}

.general-info .name {
  color: var(--header-color);
  font-size: 1.2em;
  font-weight: bold;
}

.general-info .contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.contact h3 .value {
  color: #424853;
  font-weight: 500;
}

.contact h3 .label {
  margin-right: 10px;
  font-size: 1.2em;
}

.edu-experience .content,
.pro-experience .content {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 20px;
  margin-top: 20px;
  /* align-items: center; */
}

.edu-experience .title,
.pro-experience .title {
  font-size: 2em;
  color: var(--header-color);
  font-weight: bold;
}

.date .start-date {
  margin-right: 10px;
}

.date .end-date {
  margin-left: 10px;
}

.edu-experience .details h3,
.pro-experience .details h3 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.edu-experience .details h4,
.pro-experience .details h4 {
  font-size: 1.25em;
  font-style: italic;
  font-weight: 500;
}

.pro-experience .details p {
  font-size: 1.2em;
}
